<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/uipage.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Guardian Angel Web Filter</title>
</head>
<body>
  <div id="dashboard">
      <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'Overview')">Overview</button>
          <button class="tablinks" onclick="openTab(event, 'Filter')">Filter</button>
          <button class="tablinks" onclick="openTab(event, 'Categories')">Categories</button>
          <button class="tablinks" onclick="openTab(event, 'Phrases')">Phrases</button>
          <button class="tablinks" onclick="openTab(event, 'Advanced')">Advanced</button>
      </div>
      This is the dashboard
  </div>
</body>
</html>