<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/uipage.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Guardian Angel Web Filter</title>
</head>
<body>
  <div class="tab">
      <button class="tablinks" id="OverviewButton" onclick="openTab(event, 'Overview')">Overview</button>
      <button class="tablinks" onclick="openTab(event, 'Profiles')">Profiles</button>
      <button class="tablinks" onclick="openTab(event, 'Filter')">Filter</button>
      <button class="tablinks" onclick="openTab(event, 'Categories')">Categories</button>
      <button class="tablinks" onclick="openTab(event, 'Phrases')">Phrases</button>
      <button class="tablinks" onclick="openTab(event, 'Advanced')">Advanced</button>
  </div>
  <div id="Overview" class="tabcontent">
      <%- overviewContent %>
  </div>
  <div id="Profiles" class="tabcontent">
      <%- profilesContent %>
  </div>
  <div id="Filter" class="tabcontent">
      <%- filterContent %>
  </div>
  <div id="Categories" class="tabcontent">
      <%- categoriesContent %>
  </div>
  <div id="Phrases" class="tabcontent">
      <%- phrasesContent %>
  </div>
  <div id="Advanced" class="tabcontent">
      <%- advancedContent %>
  </div>

  <script src="/static/scripts/dashboard.js"></script>
</body>
</html>