#passReset {
    width: 750px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
#leftbanner {
    background-image: url("/static/images/angel.png");
    border-radius: 10px;
    position: absolute;
    width: 260px;
    height: 450px;
    float: left;
}
#passResetBox {
    vertical-align: middle;
    background-color: white;
    position: absolute;
    width: 490px;
    height: 450px;
    right: 435px;
    float: right;
}
#passResetHeader {
    vertical-align: middle;
    text-align: center;
    background-color: white;
    margin-top: 20%;
}
#passResetInput {
    vertical-align: middle;
    text-align: left;
    background-color: white;
    width: 200px;
    height: 150px;
}
#passResetButton {
    width: 150px
}